---
import LinkedRow from './LinkedRow.astro';
import {
  getPublicationListDescription,
  getPublicationPdfLink,
  getPublicationMetaShort
} from '../utils/publications.js';

const { items = [] } = Astro.props;
---

<div class="publication-list publication-list-compact">
  {items.map((item) => {
    const pdfLink = getPublicationPdfLink(item);

    return (
      <LinkedRow
        href={`publications/${item.id}/`}
        title={item.title}
        description={getPublicationListDescription(item)}
        meta={getPublicationMetaShort(item)}
        links={pdfLink ? [{ ...pdfLink, external: true }] : []}
        ariaLabel={`Open publication page for ${item.title}`}
      />
    );
  })}
</div>